<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <!-- MySQL — подключение к базе DemoExamDB на localhost -->
        <add name="DemoExamConnection" 
             connectionString="Server=localhost;Database=DemoExamDB;Uid=root;Pwd=789654123;Charset=utf8mb4;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>